#include "wx/msw/wx.rc"

#ifdef _WIN32
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)
#endif //_WIN32

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,2,9,0
 PRODUCTVERSION 0,2,9,0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080004b0"
        BEGIN
            VALUE "FileDescription", "Leela - the Go program"
            VALUE "FileVersion", "0, 2, 9, 0"
            VALUE "InternalName", "Leela"
            VALUE "LegalCopyright", "Copyright (C) 2007 Gian-Carlo Pascutto"
            VALUE "OriginalFilename", "LeelaGUI.exe"
            VALUE "ProductName", "Leela"
            VALUE "ProductVersion", "0, 2, 9, 0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x800, 1200
    END
END

aaaa                   ICON                  "C:\\Projects\\LeelaGUI\\img\\leela_mock.ico"

IDB_BITMAPWOOD         BITMAP                "C:\\Projects\\LeelaGUI\\img\\wood.bmp"
IDB_NEWGAME            BITMAP                "C:\\Projects\\LeelaGUI\\img\\new.bmp"
IDB_NEWRATED           BITMAP                "C:\\Projects\\LeelaGUI\\img\\newrated.bmp"
IDB_PASS               BITMAP                "C:\\Projects\\LeelaGUI\\img\\delete.bmp"
IDB_SCORE              BITMAP                "C:\\Projects\\LeelaGUI\\img\\find.bmp"

IDB_OPEN               BITMAP                "C:\\Projects\\LeelaGUI\\img\\fileopen.bmp"
IDB_SAVE               BITMAP                "C:\\Projects\\LeelaGUI\\img\\filesave.bmp"
IDB_SAVEAS             BITMAP                "C:\\Projects\\LeelaGUI\\img\\filesaveas.bmp"
IDB_QUIT               BITMAP                "C:\\Projects\\LeelaGUI\\img\\quit.bmp"
IDB_UNDO               BITMAP                "C:\\Projects\\LeelaGUI\\img\\undo.bmp"
IDB_REDO               BITMAP                "C:\\Projects\\LeelaGUI\\img\\redo.bmp"
IDB_FORWARD            BITMAP                "C:\\Projects\\LeelaGUI\\img\\forward.bmp"
IDB_BACKWARD           BITMAP                "C:\\Projects\\LeelaGUI\\img\\back.bmp"
IDB_FORCE              BITMAP                "C:\\Projects\\LeelaGUI\\img\\execute.bmp"

IDB_WHITESTONE         BITMAP                "C:\\Projects\\LeelaGUI\\img\\whitestone.bmp"
IDB_BLACKSTONE         BITMAP                "C:\\Projects\\LeelaGUI\\img\\blackstone.bmp"

IDW_TOCK               WAVE                  "C:\\Projects\\LeelaGUI\\snd\\tock.wav"