[Desktop Entry]
Type=Application
Name=Leela OpenCL
Comment=Leela Go program (GPU Accelerated)
Icon=leela
Exec=LeelaGUI_OpenCL
Path=/usr/games
Categories=Game;BoardGame;
